body {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    padding: 50px 100px;
}


h1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: 0px;
}

.fortune-btn {
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid red;
    height: 3em;
    width: 10em;
    font-size: 20px;
    text-align: center;
    display: block;
    background-color: white;
}


button:link, button:visited {
  background-color: white;
  color: black;
}

button:hover, button:active {
  background-color: red;
  color: white;
}

.fortune {
    margin-bottom: 30px;
    padding: 5px;
}

.contact ul {
    list-style-type: none;
    padding-left: 0px;
}

.contact li {
    float: left;
    padding: 0px 15px;
}

.contact i {
    color: red;
}